#page{
	font: 12px Verdana;
	color: #666;
	padding: 40px;
	border: 1px solid #999;
	width: 600px;
	height: 150px;
	position: absolute;
	top: 150px;
	left: 50%;
	margin-left: -320px;
}

h1{
	font-size: 50px;
}